
[Desktop Entry]
Type=Application
Name=SRP-Creator : Map Editor
Name[fr]=SRP-Creator : Editeur de carte
Icon=srp-creator
Exec=srp-creator
Categories=Game;RolePlaying;Qt;

Name[fr_FR]=srp-creator
